<% provide(:title, "Logowanie") %>
<h1>Logowanie</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :hasło %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.submit "Zaloguj się", class: "btn btn-primary" %>
    <% end %>

    <p>Nie masz jeszcze konta? <%= link_to "Zarejestruj się!", signup_path %></p>
  </div>
</div>