<p id="notice"><%= notice %></p>

<% provide(:title, 'Użytkownicy') %>
<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Hasło</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.password_digest %></td>
        <td><%= link_to 'Pokaż', user %></td>
        <td><%= link_to 'Edytuj', edit_user_path(user) %></td>
        <td><%= link_to 'Usuń', user, method: :delete, data: { confirm: 'Na pewno?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
