<p id="notice"><%= notice %></p>
<% provide(:title, @user.email) %>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @user.password_digest %>
</p>

<%= link_to 'Edytuj', edit_user_path(@user) %> |
<%= link_to 'Wróć', users_path %>
