<script src="//maps.google.com/maps/api/js?key=AIzaSyCVRckajyyjIb3MPhMRI3aE3jgcjjDBerI"></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>

<p id="notice"><%= notice %></p>

<p>
  <h1><strong><%= @company.name %></strong></h1>
</p>

<p>
  <strong>O nas</strong><br/>
  <%= @company.description %>
</p>

<p>
  <strong>Gdzie nas znajdziesz</strong><br/>
  <%= @company.address %>
</p>

<div id="map" style='width: 600px; height: 500px;'></div>

<script type="text/javascript">
	handler = Gmaps.build('Google');
	handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
	  markers = handler.addMarkers([
	    {
	      "lat": <%= @company.latitude %>,
	      "lng": <%= @company.longitude %>,
	      "infowindow": "<%= @company.name + " - " + @company.address %>"
	    }
	  ]);
	  handler.bounds.extendWith(markers);
	  handler.fitMapToBounds();
	});
</script>

<p>
	<% if @company.cars.length > 0 %>
		<strong>Samochody dostępne w naszej ofercie:</strong>
	<% end %>
	<ul>
		<% @company.cars.each do |car| %>
			<li><a href="/cars/<%= car.id %>">
				<%= car.make + " " + car.model %>
			</a></li>
		<% end %>
	</ul>
</p>
