<p id="notice"><%= notice %></p>
<% provide(:title, 'Samochody') %>

<h1>Samochody</h1>

<ul class="cars-list">
  <% @cars.each do |car| %>
    <li class="car-element">
      <%= link_to image_tag(car.image, size: "256x192"), car %>
      <div>
        <%= link_to car.make + ' ' + car.model, car, class: "lead" %>
      </div>
      <%= link_to 'Edytuj', edit_car_path(car) %>
      <%= link_to 'Usuń', car, method: :delete, data: { confirm: 'Na pewno?' } %>
    </li>
  <% end %>
</ul>

<br>

<div id="footer">
  <%= link_to "Dodaj samochód", new_car_path, class: "btn btn-lg btn-default" %>
  <br>
  <%= will_paginate @cars %>
</div>