<p id="notice"><%= notice %></p>
<% provide(:title, @car.model) %>

<p>
  <img src=<%= @car.image %> alt="car-image" width="640" height="480" />
</p>

<p>
  <%= @car.make %>
  <%= @car.model %>
</p>

<%= link_to 'Edytuj', edit_car_path(@car) %> |
<%= link_to 'Wróć', cars_path %>
